name: CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

env:
  CARGO_TERM_COLOR: always

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout 
      uses: actions/checkout@v2
    - name: Use Nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
    - name: Build
      uses: actions-rs/cargo@v1
      with:
          command: build
          args: --verbose
          
  Test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
    - name: Test
      uses: actions-rs/cargo@v1
      with:
          command: test
          args: --verbose
      
  Coverage:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly
    - name: Install Coverage Tooling
      uses: actions-rs/cargo@v1
      with:
          command: install
          args: cargo-tarpaulin
    - name: Run Coverage
      uses: actions-rs/cargo@v1
      with:
          command: tarpaulin
          args: -v --out Xml
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v1
      with:
          fail_ci_if_error: true

